html5jquery-bootstrap4/master/components/user/login.pug
extends user.layout.pug
block content
    .container-full
        .container.container-xs
            .text-center
                img.mv-lg.img-fluid.thumb64(src="~img/logo.png")
            form.cardbox.b0.form-validate#user-login(action="", name="loginForm", novalidate='')
                .cardbox-offset.pb0
                    .cardbox-offset-item.text-right
                        a.btn-raised.btn.btn-info.btn-circle.btn-lg(href="signup.html")
                            em.ion-person-add
                    .cardbox-offset-item.text-right.invisible
                        .btn.btn-success.btn-circle.btn-lg
                            em.ion-checkmark-round
                .cardbox-heading
                    .cardbox-title.text-center Login
                .cardbox-body
                    .mda-form-group.float-label.mda-input-group
                        .mda-form-control
                            input.form-control(type='email', name="accountName", required="")
                            .mda-form-control-line
                            label Email address
                        span.mda-input-group-addon
                            em.ion-ios-email-outline.icon-lg
                    .mda-form-group.float-label.mda-input-group
                        .mda-form-control
                            input.form-control(type='password', name="accountPassword", required="")
                            .mda-form-control-line
                            label Password
                        span.mda-input-group-addon
                            em.ion-ios-locked-outline.icon-lg
                button.btn.btn-primary.btn-flat(type="submit") Authenticate
            .text-center.text-sm
                a.text-inherit(href="recover.html") Forgot password?

html5jquery/app/login.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin Template">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>Centric - Bootstrap Admin Template</title>
    <!-- build:css(../app) css/vendor-user.css-->
    <!-- Animate.CSS-->
    <link rel="stylesheet" href="vendor/animate.css/animate.css">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- Ionicons-->
    <link rel="stylesheet" href="vendor/ionicons/css/ionicons.css">
    <!-- Material Colors-->
    <link rel="stylesheet" href="vendor/material-colors/dist/colors.css">
    <!-- endbuild-->
    <!-- Application styles-->
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="layout-container">
      <div class="page-container bg-blue-grey-900">
        <div class="container-full">
          <div class="container container-xs"><img class="mv-lg block-center img-responsive thumb64" src="img/logo.png">
            <form class="card b0 form-validate" id="user-login" action="" name="loginForm" novalidate="">
              <div class="card-offset pb0">
                <div class="card-offset-item text-right"><a class="btn-raised btn btn-info btn-circle btn-lg" href="signup.html"><em class="ion-person-add"></em></a></div>
                <div class="card-offset-item text-right hidden">
                  <div class="btn btn-success btn-circle btn-lg"><em class="ion-checkmark-round"></em></div>
                </div>
              </div>
              <div class="card-heading">
                <div class="card-title text-center">Login</div>
              </div>
              <div class="card-body">
                <div class="mda-form-group float-label mda-input-group">
                  <div class="mda-form-control">
                    <input class="form-control" type="email" name="accountName" required="">
                    <div class="mda-form-control-line"></div>
                    <label>Email address</label>
                  </div><span class="mda-input-group-addon"><em class="ion-ios-email-outline icon-lg"></em></span>
                </div>
                <div class="mda-form-group float-label mda-input-group">
                  <div class="mda-form-control">
                    <input class="form-control" type="password" name="accountPassword" required="">
                    <div class="mda-form-control-line"></div>
                    <label>Password</label>
                  </div><span class="mda-input-group-addon"><em class="ion-ios-locked-outline icon-lg"></em></span>
                </div>
              </div>
              <button class="btn btn-primary btn-flat" type="submit">Authenticate</button>
            </form>
            <div class="text-center text-sm"><a class="text-inherit" href="recover.html">Forgot password?</a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- build:js(../app) js/vendor-user.js-->
    <!-- Modernizr-->
    <script src="vendor/modernizr/modernizr.custom.js"></script>
    <!-- jQuery-->
    <script src="vendor/jquery/dist/jquery.js"></script>
    <!-- Bootstrap-->
    <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
    <!-- jQuery Browser-->
    <script src="vendor/jquery.browser/dist/jquery.browser.js"></script>
    <!-- Material Colors-->
    <script src="vendor/material-colors/dist/colors.js"></script>
    <!-- jQuery Form Validation-->
    <script src="vendor/jquery-validation/dist/jquery.validate.js"></script>
    <script src="vendor/jquery-validation/dist/additional-methods.js"></script>
    <!-- endbuild-->
    <!-- App script-->
    <script src="js/app.js"></script>
  </body>
</html>
