html5jquery-bootstrap4/master/components/user/signup.pug
extends user.layout.pug
block content
    .container-full
        .container.container-xs
            .text-center
                img.mv-lg.img-fluid.thumb64(src="~img/logo.png")
            form.cardbox.b0.form-validate#user-signup(action="", name="createForm", novalidate='')
                .cardbox-offset.pb0
                    .cardbox-offset-item.text-right
                        #form-ok.btn.btn-success.btn-circle.btn-lg.invisible
                            em.ion-checkmark-round
                .cardbox-heading
                    .cardbox-title.text-center Create account
                .cardbox-body
                    .mda-form-group.float-label.mda-input-group
                        .mda-form-control
                            input.form-control(type='email', name="accountName", required="")
                            .mda-form-control-line
                            label Email address
                        span.mda-input-group-addon
                            em.ion-ios-email-outline.icon-lg
                    .mda-form-group.float-label.mda-input-group
                        .mda-form-control
                            input.form-control#account-password(type='password', name="accountPassword", required="")
                            .mda-form-control-line
                            label Password
                        span.mda-input-group-addon
                            em.ion-ios-locked-outline.icon-lg
                    .mda-form-group.float-label.mda-input-group
                        .mda-form-control
                            input.form-control(type='password', name="accountPasswordCheck", required="")
                            .mda-form-control-line
                            label Confirm password
                        span.mda-input-group-addon
                            em.ion-ios-locked-outline.icon-lg
                button.btn.btn-primary.btn-flat(type="submit") Create

                .cardbox-body.bg-gray-lighter.text-center.text-sm
                    span.spr By registering I accept the
                    a.spr(href="#") Terms of Service
                    span.spr and
                    a.spr(href="#") Privacy

angularjs/app/views/signup.html

<div class="container-full">
  <div class="container container-xs"><img class="mv-lg block-center img-responsive thumb64" src="app/img/logo.png"/>
    <form class="card b0 form-validate" action="" name="createForm" novalidate="">
      <div class="card-offset pb0">
        <div class="card-offset-item text-right ng-fadeInLeftShort" ng-if="createForm.$valid">
          <div class="btn btn-success btn-circle btn-lg"><em class="ion-checkmark-round"></em></div>
        </div>
      </div>
      <div class="card-heading">
        <div class="card-title text-center">Create account</div>
      </div>
      <div class="card-body">
        <div class="mda-form-group float-label mda-input-group">
          <div class="mda-form-control">
            <input class="form-control" type="email" name="accountName" ng-model="account.name" required=""/>
            <div class="mda-form-control-line"></div>
            <label>Email address</label>
          </div>
          <div class="text-danger" ng-messages="createForm.accountName.$error"><span ng-message="email">This field must be a valid email address</span></div><span class="mda-input-group-addon"><em class="ion-ios-email-outline icon-lg"></em></span>
        </div>
        <div class="mda-form-group float-label mda-input-group">
          <div class="mda-form-control">
            <input class="form-control" type="password" name="accountPassword" ng-model="account.password" required=""/>
            <div class="mda-form-control-line"></div>
            <label>Password</label>
          </div><span class="mda-input-group-addon"><em class="ion-ios-locked-outline icon-lg"></em></span>
        </div>
        <div class="mda-form-group float-label mda-input-group">
          <div class="mda-form-control">
            <input class="form-control" type="password" name="accountPassword2" ng-model="account.password2" required=""/>
            <div class="mda-form-control-line"></div>
            <label>Confirm password</label>
          </div><span class="mda-input-group-addon"><em class="ion-ios-locked-outline icon-lg"></em></span>
        </div>
      </div>
      <button class="btn btn-primary btn-flat" type="button" ng-disabled="createForm.$invalid || createForm.$pristine">Create</button>
      <div class="card-body bg-gray-lighter text-center text-sm"><span class="spr">By registering I accept the</span><a class="spr" href="">Terms of Service</a><span class="spr">and</span><a class="spr" href="">Privacy</a></div>
    </form>
  </div>
</div>
