html5jquery-bootstrap4/master/components/cards/cards.pug
extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Cards'
block content
    .container.container-lg
        .row
            .col-xl-8.col-md-12
                .row
                    .col-sm-6.col-xs-12
                        .cardbox
                            .cardbox-heading.bg-pink-500
                                // START dropdown
                                .float-right.dropdown
                                    button.btn.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                        em.ion-android-more-vertical
                                    ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                        li
                                            a(href='#') Option 1
                                        li
                                            a(href='#') Option 2
                                        li
                                            a(href='#') Option 3
                                // END dropdown
                                .cardbox-title Paracosm
                            .cardbox-body
                                p Nulla egestas faucibus tincidunt.
                                p.m0
                                    a(href='#')
                                        img.mr-sm.thumb48(src='~img/pic1.jpg', alt='Pic')
                                    a(href='#')
                                        img.mr-sm.thumb48(src='~img/pic2.jpg', alt='Pic')
                                    a(href='#')
                                        img.mr-sm.thumb48(src='~img/pic3.jpg', alt='Pic')
                                    a(href='#')
                                        img.mr-sm.thumb48(src='~img/pic4.jpg', alt='Pic')
                            .cardbox-footer
                                button.btn.btn-flat.btn-secondary(type="button") Action 1
                                button.btn.btn-flat.btn-secondary(type="button") Action 2
                    .col-sm-6.col-xs-12
                        .cardbox
                            .cardbox-heading.bg-primary
                                .cardbox-title Paracosm
                            .cardbox-offset
                                .cardbox-offset-item.text-right
                                    button(type="button").btn-raised.btn.btn-info.btn-circle.btn-lg
                                        em.ion-android-add
                            .cardbox-body.pt0
                                p.mb-sm Cras rutrum scelerisque auctor. Donec ultricies blandit venenatis. Nulla facilisi. Praesent diam diam, venenatis lorem par.
                            .cardbox-footer
                                button.btn.btn-flat.btn-secondary(type="button") Action 1
                                button.btn.btn-flat.btn-secondary(type="button") Action 2
                .row
                    .col-sm-6.col-xs-12
                        .cardbox
                            .cardbox-item
                                img.fw.img-fluid(src='~img/pic5.jpg', alt='MaterialImg')
                                .cardbox-item-text.text-right Paracosm
                            .cardbox-offset
                                .cardbox-offset-item.text-left
                                    button.btn-raised.btn.btn-primary.btn-circle.btn-lg(type="button") 25
                            .cardbox-body.pt0
                                h4.m0 Sky red
                                p.m0
                                    span.mr-sm.text-muted by
                                    a(href='#') John
                    .col-sm-6.col-xs-12
                        .cardbox
                            .cardbox-item
                                img.fw.img-fluid(src='~img/pic4.jpg', alt='MaterialImg')
                                .cardbox-item-text Paracosm
                            .cardbox-offset
                                .cardbox-offset-item.text-center
                                    button(type="button").btn-raised.btn.btn-success.btn-circle.btn-lg
                                        em.ion-share
                            .cardbox-body.pt0
                                h4.m0 Peaceful view
                                p.m0
                                    span.mr-sm.text-muted by
                                    a(href='#') Zachary

            .col-xl-4.col-md-12
                .cardbox
                    .cardbox-item
                        img.fw.img-fluid(src='~img/pic1.jpg', alt='MaterialImg')
                        .cardbox-item-text.bg-transparent
                            h4.text-center Jill Howell
                    .cardbox-offset
                        .cardbox-offset-item.text-right
                            button(type="button").btn-raised.btn.btn-danger.btn-circle.btn-lg
                                em.ion-ios-heart
                    .mda-list
                        .mda-list-item
                            .mda-list-item-icon
                                em.ion-android-call.icon-2x.text-primary
                            .mda-list-item-text.mda-2-line
                                h3 (123) 456 789
                                h4.text-muted Home
                            .mda-list-item-icon.float-right
                                em.ion-chatbubbles.icon-lg.text-muted
                        .mda-list-item
                            .mda-list-item-icon
                            .mda-list-item-text.mda-2-line
                                h3 (123) +15 321 654
                                h4.text-muted Mobile
                        .mda-list-item
                            .mda-list-item-icon
                                em.ion-android-mail.icon-2x.text-primary
                            .mda-list-item-text.mda-2-line
                                h3 jill@personal.com
                                h4.text-muted Personal
                            .mda-list-item-icon.float-right
                                em.ion-compose.icon-lg.text-muted
                        .mda-list-item
                            .mda-list-item-icon
                            .mda-list-item-text.mda-2-line
                                h3 jill.howell@work.com
                                h4.text-muted Work
        .row
            .col-xl-4.col-lg-6
                .cardbox.bg-primary.mb
                    .cardbox-body
                        .cardbox-title
                            .float-right
                                em.ion-calendar.icon-2x.text-muted.va-top
                            h4.m0 New event
                        h5 22 Aug, at 10 a.m.
                    .cardbox-footer
                        button.btn.btn-flat.btn-primary.text-white(type="button") Add to Calendar
            .col-xl-4.col-lg-6
                .cardbox.bg-success.mb
                    .cardbox-body
                        .cardbox-title
                            .row
                                .col-8
                                    em.ion-ios-musical-notes.icon-2x.float-left
                                    .pl-xl
                                        h5.mv-sm Pellentesque vitae
                                        h6.m0 Aliquam non eros
                                .col-4
                                    a(href="#"): img.img-fluid.rounded(src="~img/user/05.jpg", alt="Image")
                    .cardbox-footer.clearfix
                        .float-left
                            button.btn.btn-flat.btn-success.text-white(type="button") Play now
                        .float-right
                            button.btn.btn-flat.btn-success.text-white(type="button") Next
            .col-xl-4.col-xs-12
                .cardbox.bg-info.mb
                    .cardbox-body
                        p.lead.m0.text-white A simple announce could be added here with any text for users who want to read this.
                    .cardbox-footer.text-right
                        button.btn.btn-flat.btn-info.text-white(type="button") Ok, Let's Go!

        // Large card
        .cardbox
            .cardbox-heading
                // START dropdown
                .float-right.dropdown
                    button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                        em.ion-android-more-vertical
                    ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                        li
                            a(href='#') Option 1
                        li
                            a(href='#') Option 2
                        li
                            a(href='#') Option 3
                // END dropdown
            .cardbox-body.pt0
                h3.mt0 Technology
                p Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse. Pariatur occaecat nisi laboris tempor laboris eiusmod qui id Lorem esse commodo in. Exercitation aute dolore deserunt culpa consequat elit labore incididunt elit anim.
            .cardbox-footer
                button.btn.btn-flat.btn-primary(type="button") Read More

        .row
            .col-xl-3.col-sm-6
                .cardbox
                    .cardbox-item
                        img.fw.img-fluid(src='~img/pic3.jpg', alt='MaterialImg')
                    .cardbox-body
                        h4.mt0 Freedom in the air
                        p.m0 Nunc vitae ipsum elit, non lacinia dui. Sed tempor lacinia tempus. Etiam eget congue nulla. Sed quis eros libero, a euismod nisl.

            .col-xl-3.col-sm-6
                .cardbox
                    .cardbox-item
                        img.fw.img-fluid(src='~img/pic2.jpg', alt='MaterialImg')
                    .cardbox-body
                        h4.mt0 Mountain lake
                        p Cras et dui non erat ornare ornare eget non sapien.
                        .text-right
                            button.btn.btn-flat.btn-primary(type="button") Share
                            button.btn.btn-flat.btn-primary(type="button") More
            .col-xl-3.col-sm-6
                .cardbox
                    .cardbox-item
                        img.fw.img-fluid(src='~img/pic1.jpg', alt='MaterialImg')
                        .cardbox-item-text
                            a(href="#"): em.ion-map.mr.icon-lg
                            a(href="#"): em.ion-ios-heart-outline.mr.icon-lg
                            a(href="#"): em.ion-image.icon-lg
                    .cardbox-body
                        h4.mt0 Forest trip
                        p Nullam quis lorem a est auctor venenatis vel vitae ipsum.
                        hr
                        .clearfix
                            .float-left
                                span.mr-sm.text-muted by
                                a(href='#') Bonnie
                            .float-right.text-muted
                                em.ion-android-time.mr-sm
                                span a week ago
            .col-xl-3.col-sm-6
                .cardbox
                    .cardbox-item
                        img.fw.img-fluid(src='~img/pic4.jpg', alt='MaterialImg')
                        p.cardbox-item-text Picture.png
                .cardbox
                    .cardbox-item
                        img.fw.img-fluid(src='~img/pic1.jpg', alt='MaterialImg')
                        p.cardbox-item-text Image.jpg

angular5/ng2centric/src/app/routes/cards/cards/cards.component.html
<div class="container container-lg">
    <div class="row">
        <div class="col-lg-8 col-xs-12">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-heading bg-pink-500">
                            <!-- START dropdown-->
                            <div dropdown class="pull-right dropdown">
                                <button type="button" dropdownToggle class="btn btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                                <ul *dropdownMenu role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                    <li><a href="">Option 1</a></li>
                                    <li><a href="">Option 2</a></li>
                                    <li><a href="">Option 3</a></li>
                                </ul>
                            </div>
                            <!-- END dropdown-->
                            <div class="card-title">Paracosm</div>
                        </div>
                        <div class="card-body">
                            <p>Nulla egestas faucibus tincidunt.</p>
                            <p class="m0">
                                <a href=""><img src="assets/img/pic1.jpg" alt="Pic" class="mr-sm thumb48" /></a>
                                <a href=""><img src="assets/img/pic2.jpg" alt="Pic" class="mr-sm thumb48" /></a>
                                <a href=""><img src="assets/img/pic3.jpg" alt="Pic" class="mr-sm thumb48" /></a>
                                <a href=""><img src="assets/img/pic4.jpg" alt="Pic" class="mr-sm thumb48" /></a>
                            </p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-flat btn-default">Action 1</button>
                            <button type="button" class="btn btn-flat btn-default">Action 2</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-heading bg-primary">
                            <div class="card-title">Paracosm</div>
                        </div>
                        <div class="card-offset">
                            <div class="card-offset-item text-right">
                                <button type="button" class="btn-raised btn btn-info btn-circle btn-lg"><em class="ion-android-add"></em></button>
                            </div>
                        </div>
                        <div class="card-body pt0">
                            <p class="mb-sm">Cras rutrum scelerisque auctor. Donec ultricies blandit venenatis. Nulla facilisi. Praesent diam diam, venenatis lorem par.</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-flat btn-default">Action 1</button>
                            <button type="button" class="btn btn-flat btn-default">Action 2</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-item"><img src="assets/img/pic5.jpg" alt="MaterialImg" class="fw img-responsive" />
                            <div class="card-item-text text-right">Paracosm</div>
                        </div>
                        <div class="card-offset">
                            <div class="card-offset-item text-left">
                                <button type="button" (click)="counter=counter+1" class="btn-raised btn btn-primary btn-circle btn-lg">{{counter}}</button>
                            </div>
                        </div>
                        <div class="card-body pt0">
                            <h4 class="m0">Sky red</h4>
                            <p class="m0"><span class="mr-sm text-muted">by</span><a href="">John</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-item"><img src="assets/img/pic4.jpg" alt="MaterialImg" class="fw img-responsive" />
                            <div class="card-item-text">Paracosm</div>
                        </div>
                        <div class="card-offset">
                            <div class="card-offset-item text-center">
                                <button type="button" class="btn-raised btn btn-success btn-circle btn-lg"><em class="ion-share"></em></button>
                            </div>
                        </div>
                        <div class="card-body pt0">
                            <h4 class="m0">Peaceful view</h4>
                            <p class="m0"><span class="mr-sm text-muted">by</span><a href="">Zachary</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="card">
                <div class="card-item"><img src="assets/img/pic1.jpg" alt="MaterialImg" class="fw img-responsive" />
                    <div class="card-item-text bg-transparent">
                        <h4 class="text-center">Jill Howell</h4>
                    </div>
                </div>
                <div class="card-offset">
                    <div class="card-offset-item text-right">
                        <button type="button" (click)="toggle=!toggle" class="btn-raised btn btn-danger btn-circle btn-lg">
                            <em [class]="toggle ? 'ion-ios-heart':'ion-ios-heart-outline'" class="ion-ios-heart-outline"></em>
                        </button>
                    </div>
                </div>
                <div class="mda-list">
                    <div class="mda-list-item">
                        <div class="mda-list-item-icon"><em class="ion-android-call icon-2x text-primary"></em></div>
                        <div class="mda-list-item-text mda-2-line">
                            <h3>(123) 456 789</h3>
                            <h4 class="text-muted">Home</h4>
                        </div>
                        <div class="mda-list-item-icon pull-right"><em class="ion-chatbubbles icon-lg text-muted"></em></div>
                    </div>
                    <div class="mda-list-item">
                        <div class="mda-list-item-icon"></div>
                        <div class="mda-list-item-text mda-2-line">
                            <h3>(123) +15 321 654</h3>
                            <h4 class="text-muted">Mobile</h4>
                        </div>
                    </div>
                    <div class="mda-list-item">
                        <div class="mda-list-item-icon"><em class="ion-android-mail icon-2x text-primary"></em></div>
                        <div class="mda-list-item-text mda-2-line">
                            <h3>jill@mail.com</h3>
                            <h4 class="text-muted">Personal</h4>
                        </div>
                        <div class="mda-list-item-icon pull-right"><em class="ion-compose icon-lg text-muted"></em></div>
                    </div>
                    <div class="mda-list-item">
                        <div class="mda-list-item-icon"></div>
                        <div class="mda-list-item-text mda-2-line">
                            <h3>jill.howell@work.com</h3>
                            <h4 class="text-muted">Work</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="card bg-primary">
                <div class="card-body">
                    <div class="pull-right"><em class="ion-calendar icon-2x text-muted"></em></div>
                    <h4 class="mv-sm">New event</h4>
                    <h5>22 Aug, at 10 a.m.</h5>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-flat btn-primary text-white">Add to Calendar</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="card bg-success">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-8"><em class="ion-ios-musical-notes icon-2x pull-left"></em>
                            <div class="pl-xl">
                                <h5 class="mv-sm">Pellentesque vitae</h5>
                                <h6 class="m0">Aliquam non eros</h6>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <a href=""><img src="assets/img/user/05.jpg" alt="Image" class="img-responsive img-rounded" /></a>
                        </div>
                    </div>
                </div>
                <div class="card-footer clearfix">
                    <div class="pull-left">
                        <button type="button" class="btn btn-flat btn-success text-white">Play now</button>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-flat btn-success text-white">Next</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="card bg-info">
                <div class="card-body">
                    <p class="lead m0">A simple announce could be added here with any text for users who want to read this.</p>
                </div>
                <div class="card-footer text-right">
                    <button type="button" class="btn btn-flat btn-info text-white">Ok, Let's Go!</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Large card-->
    <div class="card">
        <div class="card-heading">
            <!-- START dropdown-->
            <div dropdown class="pull-right dropdown">
                <button type="button" dropdownToggle class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                <ul *dropdownMenu role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                    <li><a href="">Option 1</a></li>
                    <li><a href="">Option 2</a></li>
                    <li><a href="">Option 3</a></li>
                </ul>
            </div>
            <!-- END dropdown-->
        </div>
        <div class="card-body pt0">
            <h3 class="mt0">Technology</h3>
            <p>Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse. Pariatur occaecat nisi laboris tempor laboris eiusmod qui id Lorem esse commodo in. Exercitation aute dolore deserunt culpa consequat elit labore incididunt elit anim.</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-flat btn-primary">Read More</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-item"><img src="assets/img/pic3.jpg" alt="MaterialImg" class="fw img-responsive" /></div>
                <div class="card-body">
                    <h4 class="mt0">Freedom in the air</h4>
                    <p class="m0">Nunc vitae ipsum elit, non lacinia dui. Sed tempor lacinia tempus. Etiam eget congue nulla. Sed quis eros libero, a euismod nisl.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-item"><img src="assets/img/pic2.jpg" alt="MaterialImg" class="fw img-responsive" /></div>
                <div class="card-body">
                    <h4 class="mt0">Mountain lake</h4>
                    <p>Cras et dui non erat ornare ornare eget non sapien.</p>
                    <div class="text-right">
                        <button type="button" class="btn btn-flat btn-primary">Share</button>
                        <button type="button" class="btn btn-flat btn-primary">More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-item"><img src="assets/img/pic1.jpg" alt="MaterialImg" class="fw img-responsive" />
                    <div class="card-item-text"><a href="" class="link-white"><em class="ion-map mr icon-lg"></em></a><a href="" class="link-white"><em class="ion-ios-heart-outline mr icon-lg"></em></a><a href="" class="link-white"><em class="ion-image icon-lg"></em></a></div>
                </div>
                <div class="card-body">
                    <h4 class="mt0">Forest trip</h4>
                    <p>Nullam quis lorem a est auctor venenatis vel vitae ipsum.</p>
                    <hr/>
                    <div class="clearfix">
                        <div class="pull-left"><span class="mr-sm text-muted">by</span><a href="">Bonnie</a></div>
                        <div class="pull-right text-muted"><em class="ion-android-time mr-sm"></em><span>a week ago</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-item"><img src="assets/img/pic4.jpg" alt="MaterialImg" class="fw img-responsive" />
                    <p class="card-item-text">Picture.png</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-item"><img src="assets/img/pic1.jpg" alt="MaterialImg" class="fw img-responsive" />
                    <p class="card-item-text">Image.jpg</p>
                </div>
            </div>
        </div>
    </div>
</div>
