angular5/ng2centric/src/app/routes/elements/buttons/buttons.component.html
<div class="container container-lg">
    <!-- START card-->
    <div class="card">
        <div class="card-body">
            <h5 class="mt0">Button colors</h5>
            <button type="button" class="mb-sm btn btn-default ripple">Default</button>
            <button type="button" class="mb-sm btn btn-primary ripple">Primary</button>
            <button type="button" class="mb-sm btn btn-success ripple">Success</button>
            <button type="button" class="mb-sm btn btn-info ripple">Info</button>
            <button type="button" class="mb-sm btn btn-warning ripple">Warning</button>
            <button type="button" class="mb-sm btn btn-danger ripple">Danger</button>
            <button type="button" class="mb-sm btn btn-inverse ripple">Inverse</button>
            <br/>
            <br/><a class="btn btn-link ripple">Button Link</a>
            <button type="button" class="btn btn-default mr ripple"><strong>button tag</strong></button><a class="btn btn-default ripple"><strong>anchor tag</strong></a>
        </div>
    </div>
    <!-- END card-->
    <!-- START card-->
    <div class="card">
        <div class="card-body">
            <h5 class="mt0">Button Flat</h5>
            <p>
                <button type="button" class="btn btn-flat btn-default ripple">Default</button>
                <button type="button" class="btn btn-flat btn-primary ripple">Primary</button>
                <button type="button" class="btn btn-flat btn-success ripple">Success</button>
                <button type="button" class="btn btn-flat btn-info ripple">Info</button>
                <button type="button" class="btn btn-flat btn-warning ripple">Warning</button>
                <button type="button" class="btn btn-flat btn-danger ripple">Danger</button>
                <button type="button" class="btn btn-flat btn-inverse ripple">Inverse</button>
            </p>
        </div>
    </div>
    <!-- END card-->
    <!-- START card-->
    <div class="card">
        <div class="card-body">
            <h5 class="mt0">Button Raised</h5>
            <p>
                <button type="button" class="btn btn-raised btn-default ripple">Default</button>
                <button type="button" class="btn btn-raised btn-primary ripple">Primary</button>
                <button type="button" class="btn btn-raised btn-success ripple">Success</button>
                <button type="button" class="btn btn-raised btn-info ripple">Info</button>
                <button type="button" class="btn btn-raised btn-warning ripple">Warning</button>
                <button type="button" class="btn btn-raised btn-danger ripple">Danger</button>
                <button type="button" class="btn btn-raised btn-inverse ripple">Inverse</button>
            </p>
        </div>
    </div>
    <!-- END card-->
    <!-- START card-->
    <div class="card">
        <div class="card-body">
            <h5 class="mt0">Button Circle</h5>
            <p>
                <button type="button" class="btn btn-circle btn-default ripple">D</button>
                <button type="button" class="btn btn-circle btn-primary ripple">P</button>
                <button type="button" class="btn btn-circle btn-success ripple">S</button>
                <button type="button" class="btn btn-circle btn-info ripple">I</button>
                <button type="button" class="btn btn-circle btn-warning ripple">W</button>
                <button type="button" class="btn btn-circle btn-danger ripple">D</button>
                <button type="button" class="btn btn-circle btn-inverse ripple">I</button>
            </p>
        </div>
    </div>
    <!-- END card-->
    <!-- START card-->
    <div class="card">
        <div class="card-body">
            <h5 class="mt0">Button Labeled</h5>
            <!-- Success button with label-->
            <button type="button" class="btn btn-labeled btn-success ripple"><span class="btn-label"><i class="ion-checkmark-round"></i></span>Success</button>
            <!-- Danger button with label-->
            <button type="button" class="btn btn-labeled btn-danger ripple"><span class="btn-label"><i class="ion-close-round"></i></span>Danger</button>
            <!-- Info button with label-->
            <button type="button" class="btn btn-labeled btn-info ripple"><span class="btn-label"><i class="ion-alert"></i></span>Info</button>
            <!-- Warning button with label-->
            <button type="button" class="btn btn-labeled btn-warning ripple"><span class="btn-label"><i class="ion-nuclear"></i></span>Warning</button>
            <br/>
            <br/>
            <!-- Standard button with label-->
            <button type="button" class="btn btn-labeled btn-default ripple"><span class="btn-label"><i class="ion-arrow-left-c"></i></span>Left</button>
            <!-- Standard button with label on the right side-->
            <button type="button" class="btn btn-labeled btn-default ripple">Right<span class="btn-label btn-label-right"><i class="ion-arrow-right-c"></i></span></button>
        </div>
    </div>
    <!-- END card-->
    <!-- START card-->
    <div class="card">
        <div class="card-body">
            <h5 class="mt0">Button sizing</h5>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        <button type="button" class="btn btn-primary btn-xl ripple">X-Large button</button>
                        <button type="button" class="btn btn-default btn-xl ripple">X-Large button</button>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <button type="button" class="btn btn-primary btn-lg ripple">Large button</button>
                        <button type="button" class="btn btn-default btn-lg ripple">Large button</button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary ripple">Default button</button>
                        <button type="button" class="btn btn-default ripple">Default button</button>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <button type="button" class="btn btn-primary btn-sm ripple">Small button</button>
                        <button type="button" class="btn btn-default btn-sm ripple">Small button</button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary btn-xs ripple">Extra small button</button>
                        <button type="button" class="btn btn-default btn-xs ripple">Extra small button</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- END card-->
    <!-- START card-->
    <div class="card">
        <div class="card-body">
            <h5 class="mt0">Button group</h5>
            <p></p>
            <div class="btn-group">
                <button type="button" class="btn btn-default ripple">Left</button>
                <button type="button" class="btn btn-default ripple">Middle</button>
                <button type="button" class="btn btn-default ripple">Right</button>
            </div>
            <p></p>
            <p></p>
            <div class="btn-group">
                <button type="button" class="btn btn-default ripple">1</button>
                <button type="button" class="btn btn-default ripple">2</button>
                <button type="button" class="btn btn-default ripple">3</button>
                <button type="button" class="btn btn-default ripple">4</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default ripple">5</button>
                <button type="button" class="btn btn-default ripple">6</button>
                <button type="button" class="btn btn-default ripple">7</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default ripple">8</button>
            </div>
        </div>
    </div>
    <!-- END card-->
    <!-- START card-->
    <div class="card">
        <div class="card-body">
            <h5 class="mt0">Button Pills</h5>
            <p>Pill left</p>
            <p>
                <button type="button" class="btn btn-pill-left btn-default ripple">Default</button>
                <button type="button" class="btn btn-pill-left btn-primary ripple">Primary</button>
                <button type="button" class="btn btn-pill-left btn-success ripple">Success</button>
                <button type="button" class="btn btn-pill-left btn-info ripple">Info</button>
                <button type="button" class="btn btn-pill-left btn-warning ripple">Warning</button>
                <button type="button" class="btn btn-pill-left btn-danger ripple">Danger</button>
                <button type="button" class="btn btn-pill-left btn-inverse ripple">Inverse</button>
            </p>
            <p>Pill right</p>
            <p>
                <button type="button" class="btn btn-pill-right btn-default ripple">Default</button>
                <button type="button" class="btn btn-pill-right btn-primary ripple">Primary</button>
                <button type="button" class="btn btn-pill-right btn-success ripple">Success</button>
                <button type="button" class="btn btn-pill-right btn-info ripple">Info</button>
                <button type="button" class="btn btn-pill-right btn-warning ripple">Warning</button>
                <button type="button" class="btn btn-pill-right btn-danger ripple">Danger</button>
                <button type="button" class="btn btn-pill-right btn-inverse ripple">Inverse</button>
            </p>
        </div>
    </div>
    <!-- END card-->
    <!-- START card-->
    <div class="card">
        <div class="card-body">
            <h5 class="mt0">Button Oval</h5>
            <button type="button" class="btn btn-oval btn-default ripple">Default</button>
            <button type="button" class="btn btn-oval btn-primary ripple">Primary</button>
            <button type="button" class="btn btn-oval btn-success ripple">Success</button>
            <button type="button" class="btn btn-oval btn-info ripple">Info</button>
            <button type="button" class="btn btn-oval btn-warning ripple">Warning</button>
            <button type="button" class="btn btn-oval btn-danger ripple">Danger</button>
            <button type="button" class="btn btn-oval btn-inverse ripple">Inverse</button>
        </div>
    </div>
    <!-- END card-->
    <!-- START card-->
    <div class="card">
        <div class="card-body">
            <h5 class="mt0">Button Square</h5>
            <button type="button" class="btn btn-square btn-default ripple">Default</button>
            <button type="button" class="btn btn-square btn-primary ripple">Primary</button>
            <button type="button" class="btn btn-square btn-success ripple">Success</button>
            <button type="button" class="btn btn-square btn-info ripple">Info</button>
            <button type="button" class="btn btn-square btn-warning ripple">Warning</button>
            <button type="button" class="btn btn-square btn-danger ripple">Danger</button>
            <button type="button" class="btn btn-square btn-inverse ripple">Inverse</button>
        </div>
    </div>
    <!-- END card-->
    <!-- START card-->
    <div class="card">
        <div class="card-body">
            <h5 class="mt0">Button dropdown</h5>
            <!-- START button group-->
            <div dropdown class="btn-group mb-sm">
                <button type="button" [disabled]="disabled" dropdownToggle class="btn dropdown-toggle ripple btn-default">default<span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu" *dropdownMenu>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div dropdown class="btn-group mb-sm">
                <button type="button" [disabled]="disabled" dropdownToggle class="btn dropdown-toggle ripple btn-primary">primary<span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu" *dropdownMenu>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div dropdown class="btn-group mb-sm">
                <button type="button" [disabled]="disabled" dropdownToggle class="btn dropdown-toggle ripple btn-success">success<span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu" *dropdownMenu>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div dropdown class="btn-group mb-sm">
                <button type="button" [disabled]="disabled" dropdownToggle class="btn dropdown-toggle ripple btn-info">info<span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu" *dropdownMenu>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div dropdown class="btn-group mb-sm">
                <button type="button" [disabled]="disabled" dropdownToggle class="btn dropdown-toggle ripple btn-warning">warning<span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu" *dropdownMenu>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div dropdown class="btn-group mb-sm">
                <button type="button" [disabled]="disabled" dropdownToggle class="btn dropdown-toggle ripple btn-danger">danger<span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu" *dropdownMenu>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div dropdown class="btn-group mb-sm">
                <button type="button" [disabled]="disabled" dropdownToggle class="btn dropdown-toggle ripple btn-inverse">inverse<span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu" *dropdownMenu>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
    </div>
    <!-- END card-->
    <!-- START card-->
    <div class="card">
        <div class="card-body">
            <h5 class="mt0 ellipsis">Split button dropdown</h5>
            <!-- START button group-->
            <div dropdown class="btn-group">
                <button type="button" class="btn btn-default">Action</button>
                <button type="button" dropdownToggle class="btn dropdown-toggle ripple btn-default"><span class="caret"></span><span class="sr-only">default</span></button>
                <ul role="menu" class="dropdown-menu" *dropdownMenu>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div dropdown class="btn-group">
                <button type="button" class="btn btn-primary">Action</button>
                <button type="button" dropdownToggle class="btn dropdown-toggle ripple btn-primary"><span class="caret"></span><span class="sr-only">primary</span></button>
                <ul role="menu" class="dropdown-menu" *dropdownMenu>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div dropdown class="btn-group">
                <button type="button" class="btn btn-success">Action</button>
                <button type="button" dropdownToggle class="btn dropdown-toggle ripple btn-success"><span class="caret"></span><span class="sr-only">success</span></button>
                <ul role="menu" class="dropdown-menu" *dropdownMenu>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div dropdown class="btn-group">
                <button type="button" class="btn btn-info">Action</button>
                <button type="button" dropdownToggle class="btn dropdown-toggle ripple btn-info"><span class="caret"></span><span class="sr-only">info</span></button>
                <ul role="menu" class="dropdown-menu" *dropdownMenu>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div dropdown class="btn-group">
                <button type="button" class="btn btn-warning">Action</button>
                <button type="button" dropdownToggle class="btn dropdown-toggle ripple btn-warning"><span class="caret"></span><span class="sr-only">warning</span></button>
                <ul role="menu" class="dropdown-menu" *dropdownMenu>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div dropdown class="btn-group">
                <button type="button" class="btn btn-danger">Action</button>
                <button type="button" dropdownToggle class="btn dropdown-toggle ripple btn-danger"><span class="caret"></span><span class="sr-only">danger</span></button>
                <ul role="menu" class="dropdown-menu" *dropdownMenu>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div dropdown class="btn-group">
                <button type="button" class="btn btn-inverse">Action</button>
                <button type="button" dropdownToggle class="btn dropdown-toggle ripple btn-inverse"><span class="caret"></span><span class="sr-only">inverse</span></button>
                <ul role="menu" class="dropdown-menu" *dropdownMenu>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
    </div>
    <!-- END card-->
</div>

html5jquery-bootstrap4/master/components/elements/buttons.pug
extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Buttons'
block content

    mixin dropdown_button(type)
        // START button group
        .dropdown.btn-group.mb-sm
            button.btn.dropdown-toggle.ripple(type='button', class="btn-"+type, data-toggle="dropdown")
                = type
                span.caret
            ul.dropdown-menu(role='menu')
                li.dropdown-item
                    a(href='#') Action
                li.dropdown-item
                    a(href='#') Another action
                li.dropdown-item
                    a(href='#') Something else here
                li.dropdown-divider
                li.dropdown-item
                    a(href='#') Separated link
        // END button group

    mixin dropdown_split(type)
        // START button group
        .btn-group.dropdown
            button.btn.ripple(type='button', class="btn-"+type) Action
            button.btn.dropdown-toggle.ripple(type='button', class="btn-"+type, data-toggle="dropdown")
                span.caret
                span.sr-only= type
            ul.dropdown-menu(role='menu')
                li.dropdown-item
                    a(href='#') Action
                li.dropdown-item
                    a(href='#') Another action
                li.dropdown-item
                    a(href='#') Something else here
                li.dropdown-divider
                li.dropdown-item
                    a(href='#') Separated link
        // END button group

    .container.container-lg

        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button colors
                button.mb-sm.btn.btn-secondary.ripple(type='button') Secondary
                button.mb-sm.btn.btn-primary.ripple(type='button') Primary
                button.mb-sm.btn.btn-success.ripple(type='button') Success
                button.mb-sm.btn.btn-info.ripple(type='button') Info
                button.mb-sm.btn.btn-warning.ripple(type='button') Warning
                button.mb-sm.btn.btn-danger.ripple(type='button') Danger
                button.mb-sm.btn.btn-inverse.ripple(type='button') Inverse
                br
                br
                a(href="#").btn.btn-link.ripple Button Link
                button.ripple(type='button').btn.btn-secondary.mr
                    strong button tag
                a(href="#").btn.btn-secondary.ripple
                    strong anchor tag
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button Flat
                p
                    button.btn.btn-flat.btn-secondary.ripple(type='button') Secondary
                    button.btn.btn-flat.btn-primary.ripple(type='button') Primary
                    button.btn.btn-flat.btn-success.ripple(type='button') Success
                    button.btn.btn-flat.btn-info.ripple(type='button') Info
                    button.btn.btn-flat.btn-warning.ripple(type='button') Warning
                    button.btn.btn-flat.btn-danger.ripple(type='button') Danger
                    button.btn.btn-flat.btn-inverse.ripple(type='button') Inverse
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button Raised
                p
                    button.btn.btn-raised.btn-secondary.ripple(type='button') Secondary
                    button.btn.btn-raised.btn-primary.ripple(type='button') Primary
                    button.btn.btn-raised.btn-success.ripple(type='button') Success
                    button.btn.btn-raised.btn-info.ripple(type='button') Info
                    button.btn.btn-raised.btn-warning.ripple(type='button') Warning
                    button.btn.btn-raised.btn-danger.ripple(type='button') Danger
                    button.btn.btn-raised.btn-inverse.ripple(type='button') Inverse
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button Circle
                p
                    button.btn.btn-circle.btn-secondary.ripple(type='button') D
                    button.btn.btn-circle.btn-primary.ripple(type='button') P
                    button.btn.btn-circle.btn-success.ripple(type='button') S
                    button.btn.btn-circle.btn-info.ripple(type='button') I
                    button.btn.btn-circle.btn-warning.ripple(type='button') W
                    button.btn.btn-circle.btn-danger.ripple(type='button') D
                    button.btn.btn-circle.btn-inverse.ripple(type='button') I
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button Labeled
                // Success button with label
                button.btn.btn-labeled.btn-success.ripple(type='button')
                    span.btn-label
                        i.ion-checkmark-round
                    | Success
                // Danger button with label
                button.btn.btn-labeled.btn-danger.ripple(type='button')
                    span.btn-label
                        i.ion-close-round
                    | Danger
                // Info button with label
                button.btn.btn-labeled.btn-info.ripple(type='button')
                    span.btn-label
                        i.ion-alert
                    | Info
                // Warning button with label
                button.btn.btn-labeled.btn-warning.ripple(type='button')
                    span.btn-label
                        i.ion-nuclear
                    | Warning
                br
                br
                // Standard button with label
                button.btn.btn-labeled.btn-secondary.ripple(type='button')
                    span.btn-label
                        i.ion-arrow-left-c
                    | Left
                // Standard button with label on the right side
                button.btn.btn-labeled.btn-secondary.ripple(type='button')
                    | Right
                    span.btn-label.btn-label-right
                        i.ion-arrow-right-c
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button sizing
                .row
                    .col-lg-6
                        p
                            button.btn.btn-primary.btn-xl.ripple(type='button') X-Large button
                            button.btn.btn-secondary.btn-xl.ripple(type='button') X-Large button
                        p
                            button.btn.btn-primary.btn-lg.ripple(type='button') Large button
                            button.btn.btn-secondary.btn-lg.ripple(type='button') Large button
                    .col-lg-6
                        p
                            button.btn.btn-primary.ripple(type='button') Normal button
                            button.btn.btn-secondary.ripple(type='button') Normal button
                        p
                            button.btn.btn-primary.btn-sm.ripple(type='button') Small button
                            button.btn.btn-secondary.btn-sm.ripple(type='button') Small button
                        p
                            button.btn.btn-primary.btn-xs.ripple(type='button') Extra small button
                            button.btn.btn-secondary.btn-xs.ripple(type='button') Extra small button
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button group
                p
                .btn-group
                    button.btn.btn-secondary.ripple(type='button') Left
                    button.btn.btn-secondary.ripple(type='button') Middle
                    button.btn.btn-secondary.ripple(type='button') Right
                p
                p
                .btn-group
                    button.btn.btn-secondary.ripple(type='button') 1
                    button.btn.btn-secondary.ripple(type='button') 2
                    button.btn.btn-secondary.ripple(type='button') 3
                    button.btn.btn-secondary.ripple(type='button') 4
                .btn-group
                    button.btn.btn-secondary.ripple(type='button') 5
                    button.btn.btn-secondary.ripple(type='button') 6
                    button.btn.btn-secondary.ripple(type='button') 7
                .btn-group
                    button.btn.btn-secondary.ripple(type='button') 8
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button Pills
                p Pill left
                p
                    button.btn.btn-pill-left.btn-secondary.ripple(type='button') Secondary
                    button.btn.btn-pill-left.btn-primary.ripple(type='button') Primary
                    button.btn.btn-pill-left.btn-success.ripple(type='button') Success
                    button.btn.btn-pill-left.btn-info.ripple(type='button') Info
                    button.btn.btn-pill-left.btn-warning.ripple(type='button') Warning
                    button.btn.btn-pill-left.btn-danger.ripple(type='button') Danger
                    button.btn.btn-pill-left.btn-inverse.ripple(type='button') Inverse

                p Pill right
                p
                    button.btn.btn-pill-right.btn-secondary.ripple(type='button') Secondary
                    button.btn.btn-pill-right.btn-primary.ripple(type='button') Primary
                    button.btn.btn-pill-right.btn-success.ripple(type='button') Success
                    button.btn.btn-pill-right.btn-info.ripple(type='button') Info
                    button.btn.btn-pill-right.btn-warning.ripple(type='button') Warning
                    button.btn.btn-pill-right.btn-danger.ripple(type='button') Danger
                    button.btn.btn-pill-right.btn-inverse.ripple(type='button') Inverse
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button Oval
                button.btn.btn-oval.btn-secondary.ripple(type='button') Secondary
                button.btn.btn-oval.btn-primary.ripple(type='button') Primary
                button.btn.btn-oval.btn-success.ripple(type='button') Success
                button.btn.btn-oval.btn-info.ripple(type='button') Info
                button.btn.btn-oval.btn-warning.ripple(type='button') Warning
                button.btn.btn-oval.btn-danger.ripple(type='button') Danger
                button.btn.btn-oval.btn-inverse.ripple(type='button') Inverse
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button Square
                button.btn.btn-square.btn-secondary.ripple(type='button') Secondary
                button.btn.btn-square.btn-primary.ripple(type='button') Primary
                button.btn.btn-square.btn-success.ripple(type='button') Success
                button.btn.btn-square.btn-info.ripple(type='button') Info
                button.btn.btn-square.btn-warning.ripple(type='button') Warning
                button.btn.btn-square.btn-danger.ripple(type='button') Danger
                button.btn.btn-square.btn-inverse.ripple(type='button') Inverse
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0 Button dropdown
                +dropdown_button('primary')
                +dropdown_button('secondary')
                +dropdown_button('success')
                +dropdown_button('info')
                +dropdown_button('warning')
                +dropdown_button('danger')
                +dropdown_button('inverse')
        // END card
        // START card
        .cardbox
            .cardbox-body
                h5.mt0.ellipsis Split button dropdown
                +dropdown_split('primary')
                +dropdown_split('secondary')
                +dropdown_split('success')
                +dropdown_split('info')
                +dropdown_split('warning')
                +dropdown_split('danger')
                +dropdown_split('inverse')
        // END card
