angularjs/app/views/contacts.html

<div class="container container-fluid">
  <div class="mb-lg text-right">
    <button class="btn btn-info" type="button"><em class="ion-plus mr-sm"></em>Add Contact</button>
  </div>
  <div class="mb-lg">
    <form role="form">
      <div class="mda-form-control">
        <input class="form-control input-lg" type="text" placeholder="Search Name, Job, etc..."/>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <div class="card-body">
          <!-- START dropdown-->
          <div class="pull-right dropdown visible-lg visible-md" uib-dropdown="dropdown2">
            <button class="btn btn-flat btn-flat-icon" type="button" uib-dropdown-toggle=""><em class="ion-android-more-vertical"></em></button>
            <ul class="dropdown-menu md-dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="">Edit</a></li>
              <li><a href="">Block</a></li>
              <li><a href="">Delete</a></li>
            </ul>
          </div>
          <!-- END dropdown-->
          <div class="row">
            <div class="col-lg-4 col-md-8"><a href=""><img class="fw img-responsive" src="app/img/user/02.jpg" alt="Contact"/></a></div>
          </div>
          <h5>Floyd Ortiz<small class="text-muted">Art director</small></h5>
          <p class="mt"><em class="ion-briefcase mr-sm"></em><span>Company Inc.</span></p>
          <p class="mt">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-default btn-xs" type="button"><em class="ion-email icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-linkedin icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-skype icon-lg icon-fw"></em></button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <div class="card-body">
          <!-- START dropdown-->
          <div class="pull-right dropdown visible-lg visible-md" uib-dropdown="dropdown2">
            <button class="btn btn-flat btn-flat-icon" type="button" uib-dropdown-toggle=""><em class="ion-android-more-vertical"></em></button>
            <ul class="dropdown-menu md-dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="">Edit</a></li>
              <li><a href="">Block</a></li>
              <li><a href="">Delete</a></li>
            </ul>
          </div>
          <!-- END dropdown-->
          <div class="row">
            <div class="col-lg-4 col-md-8"><a href=""><img class="fw img-responsive" src="app/img/user/03.jpg" alt="Contact"/></a></div>
          </div>
          <h5>Nina King<small class="text-muted">Art director</small></h5>
          <p class="mt"><em class="ion-briefcase mr-sm"></em><span>Company Inc.</span></p>
          <p class="mt">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-default btn-xs" type="button"><em class="ion-email icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-linkedin icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-skype icon-lg icon-fw"></em></button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <div class="card-body">
          <!-- START dropdown-->
          <div class="pull-right dropdown visible-lg visible-md" uib-dropdown="dropdown2">
            <button class="btn btn-flat btn-flat-icon" type="button" uib-dropdown-toggle=""><em class="ion-android-more-vertical"></em></button>
            <ul class="dropdown-menu md-dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="">Edit</a></li>
              <li><a href="">Block</a></li>
              <li><a href="">Delete</a></li>
            </ul>
          </div>
          <!-- END dropdown-->
          <div class="row">
            <div class="col-lg-4 col-md-8"><a href=""><img class="fw img-responsive" src="app/img/user/04.jpg" alt="Contact"/></a></div>
          </div>
          <h5>Tracy Powell<small class="text-muted">Art director</small></h5>
          <p class="mt"><em class="ion-briefcase mr-sm"></em><span>Company Inc.</span></p>
          <p class="mt">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-default btn-xs" type="button"><em class="ion-email icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-linkedin icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-skype icon-lg icon-fw"></em></button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <div class="card-body">
          <!-- START dropdown-->
          <div class="pull-right dropdown visible-lg visible-md" uib-dropdown="dropdown2">
            <button class="btn btn-flat btn-flat-icon" type="button" uib-dropdown-toggle=""><em class="ion-android-more-vertical"></em></button>
            <ul class="dropdown-menu md-dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="">Edit</a></li>
              <li><a href="">Block</a></li>
              <li><a href="">Delete</a></li>
            </ul>
          </div>
          <!-- END dropdown-->
          <div class="row">
            <div class="col-lg-4 col-md-8"><a href=""><img class="fw img-responsive" src="app/img/user/05.jpg" alt="Contact"/></a></div>
          </div>
          <h5>Lynn Howell<small class="text-muted">Art director</small></h5>
          <p class="mt"><em class="ion-briefcase mr-sm"></em><span>Company Inc.</span></p>
          <p class="mt">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-default btn-xs" type="button"><em class="ion-email icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-linkedin icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-skype icon-lg icon-fw"></em></button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <div class="card-body">
          <!-- START dropdown-->
          <div class="pull-right dropdown visible-lg visible-md" uib-dropdown="dropdown2">
            <button class="btn btn-flat btn-flat-icon" type="button" uib-dropdown-toggle=""><em class="ion-android-more-vertical"></em></button>
            <ul class="dropdown-menu md-dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="">Edit</a></li>
              <li><a href="">Block</a></li>
              <li><a href="">Delete</a></li>
            </ul>
          </div>
          <!-- END dropdown-->
          <div class="row">
            <div class="col-lg-4 col-md-8"><a href=""><img class="fw img-responsive" src="app/img/user/06.jpg" alt="Contact"/></a></div>
          </div>
          <h5>Pearl Ray<small class="text-muted">Art director</small></h5>
          <p class="mt"><em class="ion-briefcase mr-sm"></em><span>Company Inc.</span></p>
          <p class="mt">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-default btn-xs" type="button"><em class="ion-email icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-linkedin icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-skype icon-lg icon-fw"></em></button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <div class="card-body">
          <!-- START dropdown-->
          <div class="pull-right dropdown visible-lg visible-md" uib-dropdown="dropdown2">
            <button class="btn btn-flat btn-flat-icon" type="button" uib-dropdown-toggle=""><em class="ion-android-more-vertical"></em></button>
            <ul class="dropdown-menu md-dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="">Edit</a></li>
              <li><a href="">Block</a></li>
              <li><a href="">Delete</a></li>
            </ul>
          </div>
          <!-- END dropdown-->
          <div class="row">
            <div class="col-lg-4 col-md-8"><a href=""><img class="fw img-responsive" src="app/img/user/07.jpg" alt="Contact"/></a></div>
          </div>
          <h5>Adrian Davis<small class="text-muted">Art director</small></h5>
          <p class="mt"><em class="ion-briefcase mr-sm"></em><span>Company Inc.</span></p>
          <p class="mt">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-default btn-xs" type="button"><em class="ion-email icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-linkedin icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-skype icon-lg icon-fw"></em></button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <div class="card-body">
          <!-- START dropdown-->
          <div class="pull-right dropdown visible-lg visible-md" uib-dropdown="dropdown2">
            <button class="btn btn-flat btn-flat-icon" type="button" uib-dropdown-toggle=""><em class="ion-android-more-vertical"></em></button>
            <ul class="dropdown-menu md-dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="">Edit</a></li>
              <li><a href="">Block</a></li>
              <li><a href="">Delete</a></li>
            </ul>
          </div>
          <!-- END dropdown-->
          <div class="row">
            <div class="col-lg-4 col-md-8"><a href=""><img class="fw img-responsive" src="app/img/user/02.jpg" alt="Contact"/></a></div>
          </div>
          <h5>Terri Pearson<small class="text-muted">Art director</small></h5>
          <p class="mt"><em class="ion-briefcase mr-sm"></em><span>Company Inc.</span></p>
          <p class="mt">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-default btn-xs" type="button"><em class="ion-email icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-linkedin icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-skype icon-lg icon-fw"></em></button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <div class="card-body">
          <!-- START dropdown-->
          <div class="pull-right dropdown visible-lg visible-md" uib-dropdown="dropdown2">
            <button class="btn btn-flat btn-flat-icon" type="button" uib-dropdown-toggle=""><em class="ion-android-more-vertical"></em></button>
            <ul class="dropdown-menu md-dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="">Edit</a></li>
              <li><a href="">Block</a></li>
              <li><a href="">Delete</a></li>
            </ul>
          </div>
          <!-- END dropdown-->
          <div class="row">
            <div class="col-lg-4 col-md-8"><a href=""><img class="fw img-responsive" src="app/img/user/03.jpg" alt="Contact"/></a></div>
          </div>
          <h5>Rachel Fernandez<small class="text-muted">Art director</small></h5>
          <p class="mt"><em class="ion-briefcase mr-sm"></em><span>Company Inc.</span></p>
          <p class="mt">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-default btn-xs" type="button"><em class="ion-email icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-linkedin icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-skype icon-lg icon-fw"></em></button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <div class="card-body">
          <!-- START dropdown-->
          <div class="pull-right dropdown visible-lg visible-md" uib-dropdown="dropdown2">
            <button class="btn btn-flat btn-flat-icon" type="button" uib-dropdown-toggle=""><em class="ion-android-more-vertical"></em></button>
            <ul class="dropdown-menu md-dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="">Edit</a></li>
              <li><a href="">Block</a></li>
              <li><a href="">Delete</a></li>
            </ul>
          </div>
          <!-- END dropdown-->
          <div class="row">
            <div class="col-lg-4 col-md-8"><a href=""><img class="fw img-responsive" src="app/img/user/04.jpg" alt="Contact"/></a></div>
          </div>
          <h5>Annie Holt<small class="text-muted">Art director</small></h5>
          <p class="mt"><em class="ion-briefcase mr-sm"></em><span>Company Inc.</span></p>
          <p class="mt">Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.</p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-default btn-xs" type="button"><em class="ion-email icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-facebook icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-twitter icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-linkedin icon-lg icon-fw"></em></button>
          <button class="btn btn-default btn-xs" type="button"><em class="ion-social-skype icon-lg icon-fw"></em></button>
        </div>
      </div>
    </div>
  </div>
</div>

html5jquery-bootstrap4/master/components/pages/contacts.pug
extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Contacts'
block content
    .container.container-fluid

        .mb-lg.text-right
            button.btn.btn-info(type="button")
                em.ion-plus.mr-sm
                | Add Contact
        .mb-lg
            form(role='form')
                .mda-form-control
                    input.form-control.form-control-lg(type='text', placeholder='Search Name, Job, etc...')

        .row
            .col-lg-4.col-sm-6
                .cardbox
                    .cardbox-body
                        // START dropdown
                        .float-right.dropdown.d-none.d-lg-block
                            button.btn.btn-flat.btn-flat-icon(type='button', data-toggle="dropdown")
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li: a(href="#") Edit
                                li: a(href="#") Block
                                li: a(href="#") Delete
                        // END dropdown
                        .row
                            .col-xl-5.col-lg-10
                                a(href="#")
                                    img.fw.img-fluid(src='~img/user/02.jpg', alt='Contact')
                        h5 Floyd Ortiz
                            small.text-muted Art director
                        p.mt
                            em.ion-briefcase.mr-sm
                            span Company Inc.
                        p.mt Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.
                    .cardbox-footer.text-center
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-email.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-facebook.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-twitter.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-linkedin.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-skype.icon-lg.icon-fw
            .col-lg-4.col-sm-6
                .cardbox
                    .cardbox-body
                        // START dropdown
                        .float-right.dropdown.d-none.d-lg-block
                            button.btn.btn-flat.btn-flat-icon(type='button', data-toggle="dropdown")
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li: a(href="#") Edit
                                li: a(href="#") Block
                                li: a(href="#") Delete
                        // END dropdown
                        .row
                            .col-xl-5.col-lg-10
                                a(href="#")
                                    img.fw.img-fluid(src='~img/user/03.jpg', alt='Contact')
                        h5 Nina King
                            small.text-muted Art director
                        p.mt
                            em.ion-briefcase.mr-sm
                            span Company Inc.
                        p.mt Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.
                    .cardbox-footer.text-center
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-email.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-facebook.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-twitter.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-linkedin.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-skype.icon-lg.icon-fw
            .col-lg-4.col-sm-6
                .cardbox
                    .cardbox-body
                        // START dropdown
                        .float-right.dropdown.d-none.d-lg-block
                            button.btn.btn-flat.btn-flat-icon(type='button', data-toggle="dropdown")
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li: a(href="#") Edit
                                li: a(href="#") Block
                                li: a(href="#") Delete
                        // END dropdown
                        .row
                            .col-xl-5.col-lg-10
                                a(href="#")
                                    img.fw.img-fluid(src='~img/user/04.jpg', alt='Contact')
                        h5 Tracy Powell
                            small.text-muted Art director
                        p.mt
                            em.ion-briefcase.mr-sm
                            span Company Inc.
                        p.mt Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.
                    .cardbox-footer.text-center
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-email.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-facebook.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-twitter.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-linkedin.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-skype.icon-lg.icon-fw
            .col-lg-4.col-sm-6
                .cardbox
                    .cardbox-body
                        // START dropdown
                        .float-right.dropdown.d-none.d-lg-block
                            button.btn.btn-flat.btn-flat-icon(type='button', data-toggle="dropdown")
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li: a(href="#") Edit
                                li: a(href="#") Block
                                li: a(href="#") Delete
                        // END dropdown
                        .row
                            .col-xl-5.col-lg-10
                                a(href="#")
                                    img.fw.img-fluid(src='~img/user/05.jpg', alt='Contact')
                        h5 Lynn Howell
                            small.text-muted Art director
                        p.mt
                            em.ion-briefcase.mr-sm
                            span Company Inc.
                        p.mt Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.
                    .cardbox-footer.text-center
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-email.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-facebook.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-twitter.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-linkedin.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-skype.icon-lg.icon-fw
            .col-lg-4.col-sm-6
                .cardbox
                    .cardbox-body
                        // START dropdown
                        .float-right.dropdown.d-none.d-lg-block
                            button.btn.btn-flat.btn-flat-icon(type='button', data-toggle="dropdown")
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li: a(href="#") Edit
                                li: a(href="#") Block
                                li: a(href="#") Delete
                        // END dropdown
                        .row
                            .col-xl-5.col-lg-10
                                a(href="#")
                                    img.fw.img-fluid(src='~img/user/06.jpg', alt='Contact')
                        h5 Pearl Ray
                            small.text-muted Art director
                        p.mt
                            em.ion-briefcase.mr-sm
                            span Company Inc.
                        p.mt Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.
                    .cardbox-footer.text-center
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-email.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-facebook.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-twitter.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-linkedin.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-skype.icon-lg.icon-fw
            .col-lg-4.col-sm-6
                .cardbox
                    .cardbox-body
                        // START dropdown
                        .float-right.dropdown.d-none.d-lg-block
                            button.btn.btn-flat.btn-flat-icon(type='button', data-toggle="dropdown")
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li: a(href="#") Edit
                                li: a(href="#") Block
                                li: a(href="#") Delete
                        // END dropdown
                        .row
                            .col-xl-5.col-lg-10
                                a(href="#")
                                    img.fw.img-fluid(src='~img/user/07.jpg', alt='Contact')
                        h5 Adrian Davis
                            small.text-muted Art director
                        p.mt
                            em.ion-briefcase.mr-sm
                            span Company Inc.
                        p.mt Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.
                    .cardbox-footer.text-center
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-email.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-facebook.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-twitter.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-linkedin.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-skype.icon-lg.icon-fw
            .col-lg-4.col-sm-6
                .cardbox
                    .cardbox-body
                        // START dropdown
                        .float-right.dropdown.d-none.d-lg-block
                            button.btn.btn-flat.btn-flat-icon(type='button', data-toggle="dropdown")
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li: a(href="#") Edit
                                li: a(href="#") Block
                                li: a(href="#") Delete
                        // END dropdown
                        .row
                            .col-xl-5.col-lg-10
                                a(href="#")
                                    img.fw.img-fluid(src='~img/user/02.jpg', alt='Contact')
                        h5 Terri Pearson
                            small.text-muted Art director
                        p.mt
                            em.ion-briefcase.mr-sm
                            span Company Inc.
                        p.mt Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.
                    .cardbox-footer.text-center
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-email.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-facebook.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-twitter.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-linkedin.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-skype.icon-lg.icon-fw
            .col-lg-4.col-sm-6
                .cardbox
                    .cardbox-body
                        // START dropdown
                        .float-right.dropdown.d-none.d-lg-block
                            button.btn.btn-flat.btn-flat-icon(type='button', data-toggle="dropdown")
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li: a(href="#") Edit
                                li: a(href="#") Block
                                li: a(href="#") Delete
                        // END dropdown
                        .row
                            .col-xl-5.col-lg-10
                                a(href="#")
                                    img.fw.img-fluid(src='~img/user/03.jpg', alt='Contact')
                        h5 Rachel Fernandez
                            small.text-muted Art director
                        p.mt
                            em.ion-briefcase.mr-sm
                            span Company Inc.
                        p.mt Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.
                    .cardbox-footer.text-center
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-email.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-facebook.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-twitter.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-linkedin.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-skype.icon-lg.icon-fw
            .col-lg-4.col-sm-6
                .cardbox
                    .cardbox-body
                        // START dropdown
                        .float-right.dropdown.d-none.d-lg-block
                            button.btn.btn-flat.btn-flat-icon(type='button', data-toggle="dropdown")
                                em.ion-android-more-vertical
                            ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                li: a(href="#") Edit
                                li: a(href="#") Block
                                li: a(href="#") Delete
                        // END dropdown
                        .row
                            .col-xl-5.col-lg-10
                                a(href="#")
                                    img.fw.img-fluid(src='~img/user/04.jpg', alt='Contact')
                        h5 Annie Holt
                            small.text-muted Art director
                        p.mt
                            em.ion-briefcase.mr-sm
                            span Company Inc.
                        p.mt Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Sed pharetra euismod dolor, id feugiat ante volutpat eget.
                    .cardbox-footer.text-center
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-email.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-facebook.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-twitter.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-linkedin.icon-lg.icon-fw
                        button.btn.btn-secondary.btn-xs(type="button")
                            em.ion-social-skype.icon-lg.icon-fw
